/* Add CSS Styling */
.first-element {
    background-color: #000;
    color: rgb(255, 255, 255);
}

.second-element {
    background-color: #f8e913;
}

.first-element, 
.second-element {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

